footer {
    background-color: black;
}

.bg-black {
    background-color: #2d3436 !important;
}

.bg-primary-blue {
    background-color: #0abde3 !important;
}

.bg-primary-orange {
    background-color: #f39c12 !important;
}

.bg-white {
    background-color: #ecf0f1 !important;
}

.text-black {
    color: #2d3436 !important;
}

.text-primary-blue {
    color: #0abde3 !important;
}

.text-primary-orange {
    color: #f39c12 !important;
}

.text-green {
    color: #2ecc71 !important;
}

.text-white {
    color: #ecf0f1 !important;
}

#logo {
    width: 20rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/img/app-logo-noframe.png');
}

/* Navigation bar */

.app-logo {
    max-width: 10%;
}

/* Select Element */

.wide-select {
    width: 90%;
}

.full-select {
    width: 100%;
}

.nice-select .list {
    width: 100%;
}
