footer {
    background-color: #2d3436;
}

.bg-black {
    background-color: #2d3436 !important;
}

.bg-primary-blue {
    background-color: #0abde3 !important;
}

.bg-primary-orange {
    background-color: #f39c12 !important;
}

.bg-white {
    background-color: #ecf0f1 !important;
}

.text-black {
    color: #2d3436 !important;
}

.text-primary-blue {
    color: #0abde3 !important;
}

.text-primary-orange {
    color: #f39c12 !important;
}

.text-green {
    color: #2ecc71 !important;
}

.text-white {
    color: #ecf0f1 !important;
}

#logo {
    width: 20rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('/img/app-logo-noframe.png');
}

/* Navigation bar */

.app-logo {
    max-width: 10%;
}

/* Select Element */

.wide-select {
    width: 90%;
}

.full-select {
    width: 100%;
}

.nice-select .list {
    width: 100%;
}

/* Dashboard */
.report-img {
    width: 150px;
}

@media screen and (max-width: 568px) {
    .report-img {
        /*width: 150px;*/
    }
}

/* Admin Dashboard */
.d-board .pic {
    width: 100px;
    height: 125px;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.d-board > .row {
    border: 1px solid black;
    border-radius: 5px;
}

/* Volunteer Ranking */

#volunteerList {
    max-width: 1140px;
}

h4.rank , i.rank  {
    font-size: 2.3rem;
    color: gray;
    position: absolute;
    left: 5%;
}

h4.rank.rank-1 ,i.rank.rank-1{
    font-size: 2.3rem;
    color: #FFA400;
    position: absolute;
    left: 5%;
}

#volunteerList .rank-2 {
    font-size: 2.3rem;
    color: #D3D3D3;
    position: absolute;
    left: 5%;
}

#volunteerList .rank-3 {
    font-size: 2.3rem;
    color: #b87333;
    position: absolute;
    left: 5%;
}

.user-img {
    border-radius: 35px;
    width: 60px;
}

@media screen and (min-width: 576px) {
    .card-footer {
        justify-content: center;
    }
}

#volunteerList h4 {
    top: 35% !important;
}

.trophy-icon {
    top: 0;
}

.card-h4 {
    top: 30%;
}

@media screen and (max-width: 767px) {
     h4.rank {
        display: none;
    }

    #volunteerList h1 {
        font-size: 1.6rem;
    }

    @media screen and (min-width: 576px) {
        h4.rank, i.rank {
            font-size: 3.3rem !important;
        }
    }
}

/* wishlist */
.interested {
    color: red !important;
    background-color: white !important;
}

.interested:hover {
    color: white;
}

/*.like-form{*/
/*    position:relative;*/
/*    top: -3rem;*/
/*    right: -85%;*/
/*    z-index: 10;*/
/*    overflow: hidden;*/
/*}*/


/*  Reward page */

.prize-container {
    width: 100%;
    height: calc(100vh - 70px);
    transition: all 1s linear;
}
.prize-container .text-popup {
    transform: scale(0);
}
.prize-container .prize-box {
    position: relative;
    width: 32vmin; height: 32vmin;
    background-image: url('/img/prize-icon.png');
}
.prize-container .prize-item {
    position: absolute;
    width: 45%; height: 140%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(0);
}
.prize-container .prize-item:nth-child(1) { animation: spin1 2s linear; animation-delay: 1s; animation-fill-mode: forwards; }
.prize-container .prize-item:nth-child(2) { animation: spin2 2s linear; animation-delay: 1.7s; animation-fill-mode: forwards; }
.prize-container .prize-item:nth-child(3) { animation: spin3 2s linear; animation-delay: 2.4s; animation-fill-mode: forwards; }
@keyframes spin1 {
    0% { transform: translate(-50%, -50%) scale(0) rotate(0deg); }
    40% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
    100% { transform: translate(-50%, -50%) scale(1) rotate(425deg); }
}
@keyframes spin2 {
    0% { transform: translate(-50%, -50%) scale(0) rotate(0deg); }
    40% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
    100% { transform: translate(-50%, -50%) scale(1) rotate(360deg); }
}
@keyframes spin3 {
    0% { transform: translate(-50%, -50%) scale(0) rotate(0deg); }
    40% { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
    100% { transform: translate(-50%, -50%) scale(1) rotate(295deg); }
}
.prize-box, .sponsors {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
input[type="checkbox"]:checked + * .text-popup {
    animation: slidein .8s ease-in;
    animation-fill-mode: forwards;
}
input[type="checkbox"]:checked + .prize-container {
    background-color: rgb(19, 19, 19);
}
input[type="checkbox"]:not(:checked) + * .prize-lineup {
    filter: brightness(0%);
}
input[type="checkbox"]:checked + * .prize-lineup {
    animation: fadein 1s linear;
}
input[type="checkbox"]:not(:checked) + * .prize-item, input[type="checkbox"]:checked + * label[for="revealItems"], input[type="checkbox"]:not(:checked) + * .sponsors {
    display: none;
}
input[type="checkbox"]:checked + * .sponsors {
    animation: slidein .8s linear;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.sponsors {
    height: 20vmin; max-height: 100px;
}
@keyframes fadein {
    from { filter: brightness(0%); transform: scale(.1); }
}
@keyframes slidein {
    from { position: relative; transform: scale(0); top: 15%; }
    to { position: relative; transform: scale(1); top: 0; }
}